.titulo-subtitulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-guia h1 {
  color: #3a9d4b;
}

.titulo-guia {
    max-width: fit-content;
    border-bottom: 2px solid #3a9d4b;
}

.subtitulo-guia {
    color: #8dc445;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}